body{
    font-family: 'Poppins', sans-serif;
    background-color: #00000c;
    background: url('../Assets/sunset.jpg') no-repeat center center/cover;
}

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.container
{
    border-radius: 20px;
    height:100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
}

aside
{
    width: 300px;
    margin-left:-100px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 300px;
}

.topbar
{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
    gap:8px;
    padding-top:30px;
}

.topbar input
{
    display: flex;
    justify-content: center;
    align-items:center;
    width:80%;
    height:45px;
    background: #ebfffc;
    border:none;
    outline: none;
    border-radius: 40px;
    padding-left:20px;
    font-size: 15px;
}

.search-icon
{
    display: flex;
    justify-content: center;
    align-items:center;
    width:20%;
    height:45px;
    background: #ebfffc;
    border-radius:40px;
    cursor: pointer;
}

.weather-details
{
    width: 287px;
    margin-left: 6px;
    margin-top: 47px;
    height:80vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.weather-temp
{
    color:#ffffff;
    font-size: 60px;
    margin-top:20px;
    padding:20px;
    margin-bottom:10px;
}

.weather-location
{
    color:#ffffff;
    font-size: 40px;
    margin-top:20px;
    padding:20px;
    margin-bottom:10px;
}

.coord 
{
    color:#ffffff;
    margin-bottom:10px;
}

.description
{
    color:#ffffff;
    font-size:25px;
    margin-top:-30px;
    margin-bottom:10px;
}


.highlights
{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.humidity_card {
    width:200px;
    height:150px;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 300px;
    text-align: center;
  }

.humidity_details
{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    gap:5px;    
}

.humidity_details > h1
{
    color:black;
    font-size:20px;
}

.humidity_value
{
    color:black;

}

.wind_card {
    width:200px;
    height:150px;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 300px;
    text-align: center;
  }

.wind_details
{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    gap:5px;    
}

.wind_details > h1
{
    color:black;
    font-size:20px;
}

.wind_value
{
    color:black;

}

.pressure_card {
    width:200px;
    height:150px;
    border-radius:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 300px;
    text-align: center;
  }

.pressure_details
{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    gap:5px;    
}

.pressure_details > h1
{
    color:black;
    font-size:20px;
    border:1px solid red;

}

.pressure_value
{
    color:black;
}

.feelslike_card {
    width:200px;
    height:150px;
    border-radius:20px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    max-width: 300px;
    text-align: center;
  }
  

.feelslike_details
{
    margin-top:10px;
    display:flex;
    flex-direction:row;
    gap:5px;    
}

.feelslike_details > h1
{
    color:black;
    font-size:20px;
    border:1px solid red;
}

.feelslike_value
{
    color:black;
}


@media (max-width: 768px) {
    .container {
      padding: 10px;
    }
  
    .topbar {
      flex-direction: column;
      margin-bottom: 10px;
    }
  
    .cityInput {
      margin-right: 0;
      margin-bottom: 10px;
      width: 100%;
    }
  
    .cloud-icon img {
      width: 100px;
      height: 100px;
    }
  
    .weather-temp {
      font-size: 36px;
    }
  
    .weather-location,
    .description,
    .coord {
      font-size: 16px;
    }
  
    .highlights div {
      flex: 1 1 100%;
      max-width: none;
    }
  }
  
  @media (max-width: 480px) {
    aside{
        margin-left:10px;
        width: 200px;
    }

    .weather-details,.weather-location,.coord,.description,.cloud-icon,.weather-temp{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        right: 10%;
    }
    .highlights {
      gap:10px;
      flex-direction: column;
      align-items: center;
    }
  
    .weather-temp {
      font-size: 28px;
    }
  
    .weather-location,
    .description,
    .coord {
      font-size: 14px;
    }
  
    .highlights h1 {
      font-size: 14px;
    }
  
    .highlights img {
      width: 16px;
      height: 16px;
    }

    .feelslike_card,.humidity_card,.pressure_card,.wind_card{
        width:150px;
    }
  }